## Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [4]:
import pandas as pd
a = [4, 8, 15, 16, 23, 42]
pd.Series(a)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

## Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

In [5]:
import pandas as pd
var = [1,2,3,4,5,6,7,8,9.1,'Shambo']
pd.Series(var)

0         1
1         2
2         3
3         4
4         5
5         6
6         7
7         8
8       9.1
9    Shambo
dtype: object

## Q. 3

In [6]:
import pandas as pd
data = {
    'Name' : [
        'Alice',
        'Bob',
        'Claire'
    ],
    'Age':[
        25,
        30, 
        27
    ],
    'Gender':[
        'Female',
        'Male',
        'Female'
    ]
}
pd.DataFrame(data)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

## Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In Pandas, a DataFrame is a two-dimensional labeled data structure with columns that can be of different types, similar to a spreadsheet or SQL table. It is one of the most commonly used data structures in Pandas and is designed for handling and manipulating structured data.

On the other hand, a pandas.Series is a one-dimensional labeled array that can hold any data type. It can be thought of as a single column of a DataFrame. A DataFrame, therefore, is a collection of Series where each Series represents a column.

In [ ]:
import pandas as pd

# Creating a Series
series_data = pd.Series([1, 2, 3, 4], name='Column_A')

# Creating a DataFrame with a single column
data_frame = pd.DataFrame(series_data)

print("Series:")
print(series_data)
print("\nDataFrame:")
print(data_frame)

## Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

 - head() and tail(): To view the top or bottom rows of the DataFrame.
 - sort_values(): Sorts the DataFrame by specified columns.

## Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

Among Series, DataFrame, and Panel, only the DataFrame is mutable

## Q7. Create a DataFrame using multiple Series. Explain with an example.

You can create a DataFrame using multiple Series by combining them into a dictionary where each Series corresponds to a key-value pair in the dictionary. The keys become the column names, and the values are the Series data.

In [7]:
import pandas as pd

# Creating multiple Series
series1 = pd.Series([1, 2, 3], name='Column_A')
series2 = pd.Series(['a', 'b', 'c'], name='Column_B')

# Creating a DataFrame using the Series
data = {'Column_A': series1, 'Column_B': series2}
df = pd.DataFrame(data)

print(df)

   Column_A Column_B
0         1        a
1         2        b
2         3        c