## Q1

1. head() and tail()

In [140]:
import pandas as pd

# Creating a sample DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Emma'],
        'Age': [25, 30, 22, 35, 28],
        'City': ['New York', 'San Francisco', 'Los Angeles', 'Chicago', 'Boston']}
df = pd.DataFrame(data)

# Using head() to display the first 3 rows
print("Head:")
print(df.head(3))

# Using tail() to display the last 2 rows
print("\nTail:")
print(df.tail(2))

Head:
      Name  Age           City
0    Alice   25       New York
1      Bob   30  San Francisco
2  Charlie   22    Los Angeles

Tail:
    Name  Age     City
3  David   35  Chicago
4   Emma   28   Boston

2. iloc and loc

In [141]:
# Using iloc to select rows 1 to 3 and columns 0 to 1
print("\niloc:")
print(df.iloc[1:4, 0:2])

# Using loc to select rows where Age is greater than 25
print("\nloc:")
print(df.loc[df['Age'] > 25])

iloc:
      Name  Age
1      Bob   30
2  Charlie   22
3    David   35

loc:
    Name  Age           City
1    Bob   30  San Francisco
3  David   35        Chicago
4   Emma   28         Boston

3. describe()

In [142]:
# Using describe() to get summary statistics
print("\nDescribe:")
print(df.describe())

Describe:
             Age
count   5.000000
mean   28.000000
std     4.949747
min    22.000000
25%    25.000000
50%    28.000000
75%    30.000000
max    35.000000

4. categorize()

In [143]:
# Adding a new categorical column 'Group' based on Age
df['Group'] = pd.cut(df['Age'], bins=[0, 25, 30, 35, float('inf')],
                     labels=['Young', 'Mid', 'Senior', 'Unknown'])

print("\nCategorized DataFrame:")
print(df)

Categorized DataFrame:
      Name  Age           City   Group
0    Alice   25       New York   Young
1      Bob   30  San Francisco     Mid
2  Charlie   22    Los Angeles   Young
3    David   35        Chicago  Senior
4     Emma   28         Boston     Mid

## Q2

In [144]:
def reindexing(df):
    newIndex = range(1, len(df)*2, 2)

    df.index = newIndex
    return df

reindexing(df) #just for testing purpose

      Name  Age           City   Group
1    Alice   25       New York   Young
3      Bob   30  San Francisco     Mid
5  Charlie   22    Los Angeles   Young
7    David   35        Chicago  Senior
9     Emma   28         Boston     Mid

## Q3

In [145]:
import pandas as pd

data = {'Values': [10, 20, 30, 40, 50]}
df = pd.DataFrame(data)

def threeSum(df):
    sum = 0
    for i in range(0, 3):
        sum += df['Values'][i]
    
    return sum

threeSum(df)

60

## Q4

In [146]:
import pandas as pd

# Sample DataFrame
data = {'Text': ['This is a sample text.', 'Another example.', 'Python is great!']}
df = pd.DataFrame(data)

def wordFreq(df):
    df['Word_Count'] = 0 
    for i in range(0, len(df['Text'])):
        df['Word_Count'][i] = len(df['Text'][i].split())
    return df

wordFreq(df)

/var/folders/wl/49zdlcjx78b4nzw1qkvklmr80000gn/T/ipykernel_804/3147057821.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Word_Count'][i] = len(df['Text'][i].split())
/var/folders/wl/49zdlcjx78b4nzw1qkvklmr80000gn/T/ipykernel_804/3147057821.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Word_Count'][i] = len(df['Text'][i].split())
/var/folders/wl/49zdlcjx78b4nzw1qkvklmr80000gn/T/ipykernel_804/3147057821.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Word_Count'][i] = len(df['Text'][i].split())

                     Text  Word_Count
0  This is a sample text.           5
1        Another example.           2
2        Python is great!           3

## Q5

### DataFrame.size:
- Returns the total number of elements in the DataFrame.
- It is equivalent to the product of the number of rows and columns in the DataFrame.
- The result includes all elements, regardless of whether they contain actual data or are NaN (missing values).

In [147]:
import pandas as pd

data = {'A': [1, 2, 3], 'B': [4, 5, 6]}
df = pd.DataFrame(data)

size = df.size
print(f"DataFrame size: {size}")

DataFrame size: 6

### DataFrame.shape:
- Returns a tuple representing the dimensions of the DataFrame.
- The tuple contains two elements: the number of rows and the number of columns.
- It provides a more structured way of understanding the DataFrame's shape.

In [148]:
import pandas as pd

data = {'A': [1, 2, 3], 'B': [4, 5, 6]}
df = pd.DataFrame(data)

shape = df.shape
print(f"DataFrame shape: {shape}")

DataFrame shape: (3, 2)

## Q6

read_excel()

In [149]:
import pandas as pd

# Replace 'your_file.xlsx' with the actual path to your Excel file
file_path = 'your_file.xlsx'

# Read the Excel file into a DataFrame
df = pd.read_excel(file_path)

# Display the DataFrame
print(df)

FileNotFoundError: [Errno 2] No such file or directory: 'your_file.xlsx'

## Q7

In [ ]:
import pandas as pd

# Sample DataFrame
data = {'Email': ['john.doe@example.com', 'alice.smith@example.com', 'bob.jones@example.com']}
df = pd.DataFrame(data)

def newColumn(df):
    
    df['Username'] = df['Email'].apply(lambda x : x.split('@')[0])

# Example usage:
newColumn(df)
print(df)

                     Email     Username
0     john.doe@example.com     john.doe
1  alice.smith@example.com  alice.smith
2    bob.jones@example.com    bob.jones

## Q8

In [ ]:
import pandas as pd

# Sample DataFrame
data = {'A': [3, 8, 6, 2, 9],
        'B': [5, 2, 9, 3, 1],
        'C': [1, 7, 4, 5, 2]}
df = pd.DataFrame(data)

print(df)

def filterRow(df):
    return df[(df['A'] > 5) & (df['B'] < 10)]

filterRow(df)

   A  B  C
0  3  5  1
1  8  2  7
2  6  9  4
3  2  3  5
4  9  1  2

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

## Q9

In [162]:
import pandas as pd

# Sample DataFrame
data = {'Values': [10, 20, 30, 40, 50]}
df = pd.DataFrame(data)

def calculate_stats(df):
    # Check if the DataFrame has the 'Values' column
    if 'Values' in df.columns:
        # Use describe() to get summary statistics
        stats = df['Values'].describe()
        
        # Print the results
        print("Summary Statistics:")
        print(stats[['mean', 'std', '50%']])
    else:
        print("Error: 'Values' column not found in the DataFrame.")

# Example usage:
calculate_stats(df)

Summary Statistics:
mean    30.000000
std     15.811388
50%     30.000000
Name: Values, dtype: float64

## Q 10

In [164]:
import pandas as pd

# Sample DataFrame
data = {'Date': pd.date_range('2023-01-01', '2023-01-15'),
        'Sales': [100, 120, 130, 110, 150, 140, 130, 160, 170, 180, 200, 210, 190, 180, 220]}
df = pd.DataFrame(data)

def calculate_moving_average(df):
    # Check if the DataFrame has the 'Sales' and 'Date' columns
    if 'Sales' in df.columns and 'Date' in df.columns:
        # Calculate the moving average using a window of size 7
        df['MovingAverage'] = df['Sales'].rolling(window=7, min_periods=1).mean()
    else:
        print("Error: 'Sales' or 'Date' column not found in the DataFrame.")

# Example usage:
calculate_moving_average(df)
print(df)

         Date  Sales  MovingAverage
0  2023-01-01    100     100.000000
1  2023-01-02    120     110.000000
2  2023-01-03    130     116.666667
3  2023-01-04    110     115.000000
4  2023-01-05    150     122.000000
5  2023-01-06    140     125.000000
6  2023-01-07    130     125.714286
7  2023-01-08    160     134.285714
8  2023-01-09    170     141.428571
9  2023-01-10    180     148.571429
10 2023-01-11    200     161.428571
11 2023-01-12    210     170.000000
12 2023-01-13    190     177.142857
13 2023-01-14    180     184.285714
14 2023-01-15    220     192.857143

## Q11

In [165]:
import pandas as pd

# Sample DataFrame
data = {'Date': pd.date_range('2023-01-01', '2023-01-05')}
df = pd.DataFrame(data)

def add_weekday_column(df):
    # Check if the DataFrame has the 'Date' column
    if 'Date' in df.columns:
        # Create a new 'Weekday' column containing the weekday names
        df['Weekday'] = df['Date'].dt.strftime('%A')
        return df
    else:
        print("Error: 'Date' column not found in the DataFrame.")

# Example usage:
result_df = add_weekday_column(df)
print(result_df)

        Date    Weekday
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday

## Q12

In [166]:
import pandas as pd

# Sample DataFrame
data = {'Date': pd.date_range('2023-01-01', '2023-01-31')}
df = pd.DataFrame(data)

def select_date_range(df, start_date, end_date):
    # Check if the DataFrame has the 'Date' column
    if 'Date' in df.columns:
        # Convert start_date and end_date to datetime objects
        start_date = pd.to_datetime(start_date)
        end_date = pd.to_datetime(end_date)
        
        # Select rows where the date is between start_date and end_date
        selected_df = df[(df['Date'] >= start_date) & (df['Date'] <= end_date)]
        return selected_df
    else:
        print("Error: 'Date' column not found in the DataFrame.")

# Example usage:
selected_date_range = select_date_range(df, '2023-01-01', '2023-01-31')
print(selected_date_range)

         Date
0  2023-01-01
1  2023-01-02
2  2023-01-03
3  2023-01-04
4  2023-01-05
5  2023-01-06
6  2023-01-07
7  2023-01-08
8  2023-01-09
9  2023-01-10
10 2023-01-11
11 2023-01-12
12 2023-01-13
13 2023-01-14
14 2023-01-15
15 2023-01-16
16 2023-01-17
17 2023-01-18
18 2023-01-19
19 2023-01-20
20 2023-01-21
21 2023-01-22
22 2023-01-23
23 2023-01-24
24 2023-01-25
25 2023-01-26
26 2023-01-27
27 2023-01-28
28 2023-01-29
29 2023-01-30
30 2023-01-31

## Q13

In [ ]:
import pandas as pd