## Q1

In [42]:
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})
df.iloc[1]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

## Q2

iloc -> it takes index of the location where u want to 
loc -> it takes the lable of the

In [43]:
import pandas as pd

# Creating a sample DataFrame
data = {'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]}
df = pd.DataFrame(data, index=['X', 'Y', 'Z'])
print(df)
# Using iloc
print(df.iloc[1, 2])  # Accessing element in the second row and third column using integer indices

# Using loc
print(df.loc['Y', 'C'])  # Accessing element in the row labeled 'Y' and column labeled 'C'

   A  B  C
X  1  4  7
Y  2  5  8
Z  3  6  9
8
8

## Q3

In [44]:
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})
print(df)
print("============")
new_df = df.reindex([3,0,1,2])
print(new_df)
print(new_df.loc[2])
print("============")
print(new_df.iloc[2])

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4
============
        course_name  duration
3     Data Engineer         4
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
course_name    Big Data
duration              6
Name: 2, dtype: object
============
course_name    Machine Learning
duration                      3
Name: 1, dtype: object

the changes we saw here is that <br>
iloc is printing row index 2 --> `1  Machine Learning         3`<br>
whereas loc is printing row with lable 2 --> `2          Big Data         6`

## Q4

In [45]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.130787  0.724916  0.125565  0.303383  0.268965  0.935369
2  0.126585  0.754655  0.479298  0.321398  0.571638  0.274440
3  0.383616  0.515917  0.403966  0.622581  0.843104  0.406539
4  0.516905  0.970855  0.369179  0.061130  0.104852  0.412438
5  0.739325  0.311699  0.207331  0.623017  0.335025  0.661667
6  0.663280  0.417035  0.844577  0.575326  0.271309  0.439128

In [46]:
df1.mean()

column_1    0.426750
column_2    0.615846
column_3    0.404986
column_4    0.417806
column_5    0.399149
column_6    0.521597
dtype: float64

In [47]:
df1.std()

column_1    0.261278
column_2    0.244627
column_3    0.251869
column_4    0.227360
column_5    0.264901
column_6    0.238272
dtype: float64

## Q5

In [55]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)
replacement = "NewString"

df1['column_2'] = df1['column_2'].astype(object) #to prevent any issue with data type

df1.loc[2,"column_2"] = replacement
df1

   column_1   column_2  column_3  column_4  column_5  column_6
1  0.872856   0.577873  0.198306  0.396411  0.929804  0.043014
2  0.014525  NewString  0.245320  0.195475  0.716078  0.609719
3  0.696042   0.689082  0.729594  0.549576  0.260244  0.385717
4  0.863963   0.756396  0.228623  0.404831  0.188119  0.573988
5  0.502665   0.958002  0.324101  0.734294  0.845700  0.067046
6  0.385456   0.804371  0.995215  0.801080  0.866792  0.170024

the error we were getting is due to assingnment of string datatype to float
we prevented it by converting the column to object first
```python
df1['column_2'] = df1['column_2'].astype(object)
```

## Q6

window function allows us to perform a specific function on specific location of any dataframe,
<br>for example
<br>`df['column'].rolling(window=3).mean()`
<br>will perform mean() on the first 3 rows the the column name `column`

## Q7

In [57]:
import pandas as pd
from datetime import datetime

# Get the current date and time
current_date = datetime.now()

# Extract the current month and year
current_month = current_date.month
current_year = current_date.year

# Create a DataFrame with the extracted values
df = pd.DataFrame({'Month': [current_month], 'Year': [current_year]})

# Print the DataFrame
df

   Month  Year
0     12  2023

## Q8

In [58]:
import pandas as pd

# Function to calculate the difference between two dates
def calculate_time_difference(start_date, end_date):
    # Convert input strings to datetime objects
    start_date = pd.to_datetime(start_date, format='%Y-%m-%d')
    end_date = pd.to_datetime(end_date, format='%Y-%m-%d')

    # Calculate the time difference
    time_difference = end_date - start_date

    # Extract days, hours, and minutes
    days = time_difference.days
    hours, remainder = divmod(time_difference.seconds, 3600)
    minutes, _ = divmod(remainder, 60)

    return days, hours, minutes

# Get user input for two dates
start_date_input = input("Enter the start date (YYYY-MM-DD): ")
end_date_input = input("Enter the end date (YYYY-MM-DD): ")

# Calculate the time difference
days_diff, hours_diff, minutes_diff = calculate_time_difference(start_date_input, end_date_input)

# Display the result
print(f"\nTime difference between {start_date_input} and {end_date_input}:")
print(f"Days: {days_diff}, Hours: {hours_diff}, Minutes: {minutes_diff}")

Time difference between 2004-06-04 and 2004-09-04:
Days: 92, Hours: 0, Minutes: 0

## Q9

In [ ]:
import pandas as pd

# Function to convert a specified column to categorical and display sorted data
def convert_to_categorical(file_path, column_name, category_order):
    # Read the CSV file
    df = pd.read_csv(file_path)

    # Convert the specified column to categorical with specified order
    df[column_name] = pd.Categorical(df[column_name], categories=category_order, ordered=True)

    # Display the sorted data
    sorted_data = df.sort_values(by=[column_name])
    print("\nSorted Data:")
    print(sorted_data)

# Get user input for file path, column name, and category order
file_path = input("Enter the CSV file path: ")
column_name = input("Enter the column name to convert to categorical: ")
category_order_str = input("Enter the category order (comma-separated): ")

# Convert the comma-separated string to a list of categories
category_order = [category.strip() for category in category_order_str.split(',')]

# Call the function to convert and display the sorted data
convert_to_categorical(file_path, column_name, category_order)

## Q10

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

# Function to read CSV file and visualize sales data using a stacked bar chart
def visualize_sales_data(file_path):
    # Read the CSV file
    df = pd.read_csv(file_path)

    # Assuming the CSV file has columns like 'Product Category', 'Date', and 'Sales'
    # You might need to adjust the column names based on your actual data

    # Convert 'Date' column to datetime type
    df['Date'] = pd.to_datetime(df['Date'])

    # Create a pivot table to aggregate sales by product category and date
    pivot_table = df.pivot_table(values='Sales', index='Date', columns='Product Category', aggfunc='sum', fill_value=0)

    # Plot a stacked bar chart
    pivot_table.plot(kind='bar', stacked=True, figsize=(10, 6))
    plt.title('Sales Data by Product Category Over Time')
    plt.xlabel('Date')
    plt.ylabel('Sales')
    plt.legend(title='Product Category', bbox_to_anchor=(1.05, 1), loc='upper left')

    # Show the chart
    plt.show()

# Get user input for the file path
file_path = input("Enter the CSV file path: ")

# Call the function to visualize sales data
visualize_sales_data(file_path)

## Q11

In [ ]:
import pandas as pd

# Function to calculate mean, median, and mode of test scores
def calculate_statistics(file_path):
    # Read the CSV file into a Pandas DataFrame
    df = pd.read_csv(file_path)

    # Calculate mean, median, and mode of the test scores
    mean_score = df['Test Score'].mean()
    median_score = df['Test Score'].median()
    mode_scores = df['Test Score'].mode()

    # Display the results in a table
    results = pd.DataFrame({
        'Statistic': ['Mean', 'Median', 'Mode'],
        'Value': [mean_score, median_score, ', '.join(map(str, mode_scores))]
    })

    print("\n" + results.to_markdown(index=False))

# Get user input for the file path
file_path = input("Enter the file path of the CSV file containing the student data: ")

# Call the function to calculate and display statistics
calculate_statistics(file_path)